html {
  height: 100%;
  width: 100%;
}

body {
  font-family:sans-serif;
}

header {
  margin-bottom: 20px;
  padding: 20px; 
  border-bottom: 1px solid rgb(26, 197, 224);
}

header h1 {
  font-size: 2em;
}

a {
  color: rgb(26, 197, 224);
}

a:hover {
  color: rgb(255, 45, 0);
}

header nav ul li {
  display: inline;
}

.clear {
  clear: both;
}

#project-container {
  margin: 0 auto; /* centers project div */
  width: 90%; /* adds space on either side */
  max-width: 600px; /* keeps div drom getting too wide */
}

.project {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(26, 197, 244);
}

.project img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2 {
  font-size: 1.5em
  margin-bottom: 10px;
}

#project-container, #aboutme, #AdvEngineering {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(26, 197, 244);
}

.project img, #aboutme img, #AdvEngineering img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2, #aboutme h2, #AdvEngineering h2 {
  font-size: 1.5em;
  margin-bottom: 10px
}
